h2 {
    font-size: 24px; /* You can adjust the size as needed */
}

/* Your existing styles remain unchanged */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3, h4 {
    color: #020e10;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #424540;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
